@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="droganddropapp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Drag and Drop</title>
    <!--favicon-->
    <link rel="shortcut icon" href="~/favicon.ico"/>
    <!--bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- JavaScript for: angular, -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
    <!--config js file-->
    <script src="~/app/fileupload/app.js"></script>
    <!--css sheet-->
    <link href="~/app/fileupload/shared/Style.css" rel="stylesheet" />
</head>
<body>
   <div class="container" ng-controller="AppController">
        <h2>Drag And Drop</h2>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Problem</a></li>
            <li><a data-toggle="tab" href="#menu1">Result</a></li>
            <li><a data-toggle="tab" href="#menu2">Image View</a></li>
        </ul>

       <div class="tab-content">
           <!--tab-content problem-->
           <div id="home" class="tab-pane fade in active">
               <br />
               <h1>Angular Starter Task</h1>
                   <ul>
                      <li>Develop a simple Angular application where user can upload images via a simple drag and drop or uploading form.</li>
                      <li>Pictures should be saved on a local directory. </li>
                      <li>Display the uploaded images in a grid system.</li>
                   </ul>
           </div>
           <!--tab-content result-->
           <div id="menu1" class="tab-pane fade">
               <br /><br />
               <div class="col-sm-12">
                   <div class="col-sm-3"></div>
                   <div class="col-sm-6">
                       <div id="dropbox" class="dropbox" ng-class="dropClass"><label for="fileToUpload">{{dropText}}</label><input type="file" class="input" ng-model-instant id="fileToUpload" multiple onchange="angular.element(this).scope().setFiles(this)" /></div>
                       <span ng-show="message" style="color:red">Choose Jpeg,Jpg,Png Images Only!</span>
                   </div>
                   <div class="col-sm-3"></div>
               </div>
                   <table class="table" ng-show="files.length">
                       <thead>
                           <tr>
                               <th>S.NO</th>
                               <th>File Name</th>
                               <th>Size</th>
                           </tr>
                       </thead>
                       <tbody>
                           <tr ng-repeat="file in files.slice(0)">
                               <td>{{$index+1}}</td>
                               <td>{{file.webkitRelativePath || file.name}}</td>
                               <td ng-switch="file.size > 1024*1024">
                                   <span ng-switch-when="true">{{file.size / 1024 / 1024 | number:2}} MB</span>
                                   <span ng-switch-default>{{file.size / 1024 | number:2}} kB</span>
                               </td>
                           </tr>

                       </tbody>
                   </table>

               </div>
           <!--tab-content image view-->
            <div id="menu2" class="tab-pane fade in active">
                <br /><br />
                <div class="col-sm-12">
                    <div class="col-sm-3" ng-repeat="image in displayimage">
                        <a download="YourFileName.jpeg" href="{{image}}">
                            <img ng-src="{{image}}" class="img-thumbnail" alt="Cinque Terre" style="width:304px;height:236px;" />
                        </a>
                    </div>
                </div>
            </div>
    </div>
 </div>    
</body>
</html>
